    $header-color: #4a8fe7;
    $text-color: #001011;
    $projects-color: #136f63;
    $footer-color: #59d2fe;
    $white: #fff;
    body {
        margin: 0;
        header {
            height: 100vh;
            nav {
                padding-top: 15px;
                height: 150px;
                clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
                background-color: $header-color;
                display: flex;
                justify-content: space-around;
                .test {
                    border: 1px solid #000;
                    display: flex;
                }
                .logo {
                    svg {
                        height: 65px;
                        width: 65px;
                        [id^="Line"],
                        [id^="Path"] {
                            stroke: #4a8fe7;
                        }
                    }
                }
                .nav-links {
                    align-self: center;
                    margin-bottom: 45px;
                    ul li {
                        display: inline-block;
                        a {
                            color: $white;
                            text-transform: uppercase;
                            font-weight: bold;
                        }
                    }
                    a[href="#about"] {
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
            }
            .container {
                position: relative;
                bottom: 60px;
                z-index: 20;
                .jumbotron {
                    height: 90vh;
                    text-align: center;
                    background-image: url('./images/jumbo-background.jpg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    background-color: $white;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }
        .projects-bg {
            clip-path: polygon(0 4%, 100% 2%, 100% 100%, 0% 100%);
            background-color: $projects-color;
            position: relative;
            bottom: 60px;
            padding-top: 100px;
            padding-bottom: 15px;
        }
        .projects {
            background-color: #fff;
            box-sizing: border-box;
            border: 1px solid $white;
            border-radius: 15px;
            margin: 25px 0 25px 0;
            .project-section {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                h1,
                .project-links {
                    text-align: center;
                    margin-bottom: 15px;
                }
                p {
                    text-align: justify;
                    margin-left: 15px;
                    margin-right: 15px;
                }
                .material-used {
                    // border: 1px solid #000;
                    text-align: center;
                    margin-bottom: 15px;
                    .btn-outline-info {
                        // border: 1px solid red;
                        cursor: default;
                        &:hover {
                            background-color: transparent;
                            color: #17a2b8;
                        }
                    }
                }
            }
            .project-img:nth-child(odd) {
                padding: 0;
                img {
                    border-radius: 15px 0 0 15px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .project-img:nth-child(even) {
                padding: 0;
                img {
                    border-radius: 0 15px 15px 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .my_bio {
            margin-bottom: 45px;
        }
        footer {
            background-color: $footer-color;
            padding-top: 25px;
            .footer-links {
                margin-top: 25px;
                margin-bottom: 15px;
                div {
                    .btn {
                        border-radius: 50%;
                    }
                    .btn:nth-child(2) {
                        margin-left: 15px;
                        margin-right: 15px;
                    }
                    span {
                        display: block;
                        margin-top: 10px;
                    }
                }
            }
        }
        @media (max-width: 576px) {
            .projects {
                .project-img {
                    img {
                        border-bottom-left-radius: 0px !important;
                        border-bottom-right-radius: 0px !important;
                        border-top-left-radius: 15px !important;
                        border-top-right-radius: 15px !important;
                    }
                }
            }
            .projects:nth-child(2) {
                display: flex;
                .project-img {
                    order: -1;
                }
            }
        }
    }